@{
    Layout = null;
}
<form name="referenciasComponentForm" style="min-width: 800px">
    <div class="card">
        <div class="card-heading bg-primary">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Crear</div>
        </div>
        <div class="card-body">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" aria-required="true" capitalize md-maxlength="40" name="CodigoOem" ng-model="vm.referencias.CodigoOEM" ng-pattern="/^[\w -]*$/" ng-required="true" tabindex="1" />
                    <label>Código OEM</label>
                    <div multiple ng-messages="referenciasComponentForm.CodigoOem.$error" role="alert">
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" aria-required="true" capitalize md-maxlength="50" name="CodigoFabricacion" ng-model="vm.referencias.CodigoFabricacion" ng-pattern="/^[\w -]*$/" ng-required="true" tabindex="2" />
                    <label>Código Fabricación</label>
                    <div multiple ng-messages="referenciasComponentForm.CodigoFabricacion.$error" role="alert">
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <input disabled aria-invalid="true" aria-required="true" capitalize name="ReferenciaVP" ng-model="vm.referencias.ReferenciaVP" tabindex="0" />
                    <label>Referencia VP</label>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" capitalize md-maxlength="100" name="Descripcion" ng-model="vm.referencias.Descripcion" ng-pattern="/^[\w -]*$/" tabindex="3" />
                    <label>Descripción</label>
                    <div multiple ng-messages="referenciasComponentForm.Descripcion.$error" role="alert">
                        <div ng-message="pattern">Por favor solo use números o letras</div>
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" aria-required="true" capitalize md-maxlength="200" name="DescripcionTecnica" ng-model="vm.referencias.DescripcionTecnica" ng-pattern="/^[\w -]*$/" tabindex="4" />
                    <label>Descripción técnica</label>
                    <div multiple ng-messages="referenciasComponentForm.DescripcionTecnica.$error" role="alert">
                        <div ng-message="pattern">Por favor solo use números o letras</div>
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Marcas</label>
                    <md-select aria-required="true" md-no-asterisk="false" name="IdMarca" ng-model="vm.referencias.IdMarcasTiposProductos" required tabindex="5">
                        <md-option ng-value=""><em>[Seleccionar]</em></md-option>
                        <md-option ng-repeat="marca in vm.referencias.MarcasTiposProductosRelacionados" ng-value="marca.IdMarcasTiposProductos">
                            {{marca.NombreMarcas}}
                        </md-option>
                    </md-select>
                    <div multiple ng-messages="referenciasComponentForm.IdMarca.$error" role="alert">
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" aria-required="true" capitalize md-maxlength="100" name="Cantidad" ng-model="vm.referencias.Cantidad" required ng-pattern="/^[0-9]*$/" tabindex="6" />
                    <label>Cantidad</label>
                    <div multiple ng-messages="referenciasComponentForm.Cantidad.$error" role="alert">
                        <div ng-message="pattern">Por favor solo use números</div>
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" aria-required="true" capitalize md-maxlength="100" name="IdUnidadesMedidas" ng-model="vm.referencias.IdUnidadesMedidas" ng-pattern="/^[0-9]*$/" tabindex="7" />
                    <label>Unidades de Medida</label>
                    <div multiple ng-messages="referenciasComponentForm.IdUnidadesMedidas.$error" role="alert">
                        <div ng-message="pattern">Por favor solo use números</div>
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox aria-label="Checkbox 1" ng-model="vm.referencias.Kit" tabindex="8">
                        Kit
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>
        <md-card-actions layout="row" layout-align="end center">
            <md-button aria-label="Cancelar" ng-click="vm.cancel()" tabindex="10"> Cancelar </md-button>
            <md-button aria-label="Guardar" ng-click="vm.save()" ng-disabled="referenciasComponentForm.$invalid || referenciasComponentForm.$pristine" tabindex="9"> Guardar </md-button>
        </md-card-actions>
    </div>
</form>