@{
    Layout = null;
}
<form name="fabricantesComponentForm">

    <div class="card">
        <div class="card-heading bg-primary">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Guardar</div>
        </div>

        <div class="card-body">
            <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                <div flex-gt-sm="70">
                    <div class="mda-form-group float-label mb" ng-hide="true">
                        <input aria-invalid="true" aria-required="true" class="mda-form-control" ng-disabled="true" ng-model="vm.fabricantes.IdFabricantes" required tabindex="0" />
                        <label>ID</label>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Fabricante</label>
                            <input md-maxlength="100" name="fabricantesDescripcion" ng-model="vm.fabricantes.Descripcion" capitalize required tabindex="0" ng-pattern="/^[\w -]*$/" />
                            <div multiple ng-messages="fabricantesComponentForm.fabricantesDescripcion.$error" role="alert">
                                <div ng-message="pattern">Por favor solo use números o letras</div>
                                <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                            </div>
                        </md-input-container>


                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Pais</label>
                            <md-select aria-required="true" md-no-asterisk="false" name="fabricantesIdPais" ng-model="vm.fabricantes.IdPais" required>
                                <md-option ng-value=""><em>[Seleccionar]</em></md-option>
                                <md-option ng-repeat="pais in vm.fabricantes.PaisList" ng-value="pais.IdPais">
                                    {{pais.Descripcion}}
                                </md-option>
                            </md-select>
                            <div multiple ng-messages="fabricantesComponentForm.fabricantesIdPais.$error" role="alert">
                                <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div flex-gt-sm="30">
                    <md-card class="_md">
                        <img class="md-card-image" ng-src="{{vm.fabricantes.ImagenFabricanteBase64}}">
                        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                            <input type="file" file-select name="files[]" />             
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>

        <md-card-actions layout="row" layout-align="end center">
            <md-button aria-label="Cancelar" ng-click="vm.cancel()"> Cancelar </md-button>
            <md-button aria-label="Guardar" ng-click="vm.save()" ng-disabled="fabricantesComponentForm.$invalid || fabricantesComponentForm.$pristine"> Guardar </md-button>
        </md-card-actions>
    </div>
</form>