@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="smart-table-container">
            <table st-safe-src="vm.fabricantes.fabricantesListar" st-table="fabricantesTable" class="smart-table table">
                <thead>
                    <tr>
                        <th>Fabricante</th>
                        <th>Pais</th>
                        <th>Foto</th>
                        <th style="text-align: center">
                            <md-button class="md-icon-button" ng-click="vm.add()">
                                <md-icon md-svg-icon="Content/img/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
                            </md-button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fabricante in fabricantesTable">
                        <td>{{fabricante.Descripcion}}</td>
                        <td>{{fabricante.Pais.Descripcion}}</td>
                        <td> <img style="width: 48px; height: 48px" ng-src="{{fabricante.ImagenFabricanteBase64}}" /> </td>

                        <td style="width: 20%; text-align: center">

                            <md-button aria-label="Editar" class="md-icon-button" ng-click="vm.edit(fabricante)">
                                <md-icon md-svg-icon="Content/img/material-design-icons/content/svg/production/ic_create_24px.svg"></md-icon>
                            </md-button>
                            <md-button aria-label="Eliminar" class="md-icon-button" ng-click="vm.del(fabricante)">
                                <md-icon md-svg-icon="Content/img/material-design-icons/content/svg/production/ic_delete_sweep_24px.svg"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>