<div class="md-welcome">
    <div class="md-welcome-msg">
        <div class="container container-md">
            <h1 class="animated fadeInDown anim-delay-10">TecniPart</h1>
            <h2 class="animated fadeInLeft anim-delay-15">Herramienta especializada manejo de inventario de partes</h2>
        </div>
    </div>
</div>
<div class="container container-md">
    <div class="row md-welcome-row">
        <div class="col-md-4">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-20">
                <div class="card-body">
                    <p class="lead text-bold">Herramienta especializada</p>Manejo de inventario de partes
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-25">
                <div class="card-body">
                    <p class="lead text-bold">Gestion dinamica</p>Proceso comercial de cara al cliente final
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div md-ink-ripple="md-ink-ripple" class="card animated fadeInDown anim-delay-30">
                <div class="card-body">
                    <p class="lead text-bold">Tecnico y contable</p>Manejo tecnico de componentes y facil integracion al sistema contable
                </div>
            </div>
        </div>
    </div>
</div>