@{
    Layout = null;
}
<form name="paisComponentForm">
    <div class="card">
        <div class="card-heading bg-primary">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Crear</div>
        </div>
        <div class="card-body">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input aria-invalid="true" aria-required="true" md-maxlength="9" name="IdPais" ng-model="vm.pais.IdPais" ng-pattern="/^[0-9]+$/" ng-required="true" tabindex="0" />
                    <label>Codigo pais</label>
                    <div multiple ng-messages="paisComponentForm.IdPais.$error" role="alert">
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                        <div ng-message="pattern">Por favor, solo ingrese números</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>

                    <input aria-invalid="true" aria-required="true" capitalize md-maxlength="100" name="Descripcion" ng-model="vm.pais.Descripcion" ng-pattern="/^[\w -]*$/" ng-required="true" tabindex="0" />
                    <label>Descripción</label>
                    <div multiple ng-messages="paisComponentForm.Descripcion.$error" role="alert">
                        <div ng-message="pattern">Por favor solo use números o letras</div>
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Código Dane</label>
                    <input aria-invalid="true" aria-required="true" md-maxlength="9" name="IdDane" ng-model="vm.pais.IdDane" ng-pattern="/^[0-9]+$/" ng-required="true" tabindex="0" />
                    <div multiple ng-messages="paisComponentForm.IdDane.$error" role="alert">
                        <div ng-message="pattern">Por favo, solo ingrese números</div>
                        <div ng-messages-include="~/app/custom/tecnipart/partials/messages.html"></div>
                    </div>
                </md-input-container>
            </div>

        </div>
        <md-card-actions layout="row" layout-align="end center">
            <md-button aria-label="Cancelar" ng-click="vm.cancel()"> Cancelar </md-button>
            <md-button aria-label="Guardar" ng-click="vm.save()" ng-disabled="paisComponentForm.$invalid || paisComponentForm.$pristine"> Guardar </md-button>
        </md-card-actions>
    </div>
</form>