<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="TecniPartEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TecniPart;persist security info=True;user id=sa;password=newshore;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="AuthContext" connectionString="Data Source=.;Initial Catalog=TecniPart;User Id=sa;password=newshore;" providerName="System.Data.SqlClient" />
  <add name="dbVirtualPartesEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAFAEL-PC;initial catalog=dbVirtualPartes;persist security info=True;user id=sa;password=newshore;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ModelVirtualPartes" connectionString="data source=RAFAEL-PC;initial catalog=dbVirtualPartes;persist security info=True;user id=sa;password=newshore;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>