/**
    Override Angle default styles
    Brings clarity by adding independent styles required for MVC projects
*/

.preloader-progress {
    background-image: url(img/preloader/preloader.empty.png);
}

.preloader-progress-bar {
    background-image: url(img/preloader/preloader.full.png);
}

md-dialog.modal-formulario md-dialog-content {
    padding: 0 !important;
    overflow-x: hidden !important;
}

md-dialog.modal-formulario {
    min-width: 80% !important;
}

    md-dialog.modal-formulario .card {
        margin: 0 !important;
    }

.card-media {
    background-color: #999999;
}
