@{
    ViewBag.Title = "Página de inicio";
}
<div ui-view="" autoscroll="false" class="ng-zoomBackDown ng-fluid">
    
<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-inverse panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="~/Content/img/landingPage/logo.png" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
            <form role="form" name="login.loginForm" novalidate="" class="form-validate mb-lg">
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="text" name="account_email" placeholder="Enter email" autocomplete="off" ng-model="vm.loginData.NombreUsuario" required="" class="form-control" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    <span ng-show="login.loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.required" class="text-danger">This field is required</span>
                    <span ng-show="login.loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.email" class="text-danger">This field must be a valid email address</span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" name="account_password" placeholder="Password" ng-model="vm.loginData.Password" required="" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="login.loginForm.account_password.$dirty &amp;&amp; login.loginForm.account_password.$error.required" class="text-danger">This field is required</span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="account_remember" ng-model="login.account.remember" />
                            <span class="fa fa-check"></span>Remember Me
                        </label>
                    </div>
                    <div class="pull-right">
                        <a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-primary mt-lg" ng-click="vm.loginn()">Login</button>
            </form>
            <div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div>
            <p class="pt-lg text-center">Need to Signup?</p><a ui-sref="page.register" class="btn btn-block btn-default">Register Now</a>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br />
        <span ng-bind="app.description"></span>
    </div>
</div>
</div>