@{
  Layout = null;
} 

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="smart-table-container">
            <table st-safe-src="vm.productos.productosListar" st-table="productosTable" class="smart-table table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Fabricantes</th>
                    <th>Marca</th>
                    <th>Descripcion</th>
                    <th>Año</th>
                    <th>Comentarios</th>
                    <th style="text-align: center">
                        <md-button class="md-icon-button" ng-click="vm.add()">
                            <md-icon md-svg-icon="Content/img/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
                        </md-button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="productos in productosTable">
                    <td>{{productos.IdProductos}}</td>
                    <td>{{productos.IdFabricantes}}</td>
                    <td>{{productos.IdMarca}}</td>
                    <td>{{productos.Descripcion}}</td>
                    <td>{{productos.Ango}}</td>
                    <td>{{productos.Comentario}}</td>
                    <td style="width: 20%; text-align: center">

                        <md-button aria-label="Editar" class="md-icon-button" ng-click="vm.edit(productos)">
                            <md-icon md-svg-icon="Content/img/material-design-icons/content/svg/production/ic_create_24px.svg"></md-icon>
                        </md-button>
                        <md-button aria-label="Eliminar" class="md-icon-button" ng-click="vm.del(productos)">
                            <md-icon md-svg-icon="Content/img/material-design-icons/content/svg/production/ic_delete_sweep_24px.svg"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>