@{
    Layout = null;
}
<md-dialog class="modal-formulario">
        @*<md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="Content/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>*@   

        <md-dialog-content>
        
                <div ui-view="modalCore"></div>
        
        </md-dialog-content>

        @*<md-dialog-actions layout="row">
            <md-button href="#" md-autofocus>
                Crear mas
            </md-button>
            <span flex></span>
            <md-button>
                Cerrar
            </md-button>
            <md-button ng-click="vm.save()">
                Guardar cambios
            </md-button>
        </md-dialog-actions>*@
</md-dialog>