<md-dialog>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div flex-xs="" flex-gt-xs="100" layout="column" class="layout-column flex-xs flex-gt-xs-100">
                <md-card class="_md">
                    <img ng-src="{{vm.src}}" class="md-card-image" style="width: 400px; height: 300px" />
                </md-card>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="vm.cerrar()">
            Cerrar
        </md-button>
    </md-dialog-actions>
</md-dialog>